 /* * {
 font-family: Arial, Verdana, sans-serif;} */
/* *{
    background-color: orangered;
} */
/* *{
    background-color: aquamarine;
    color: blue;
} */
/* h1{
color: white; 
background-color: black;
}
h2{
color:red;
background-color: black;
}
p{
color: antiquewhite;
background-color: black;
}
li{
color: antiquewhite;
background-color: black;
} */
/* h1,h2,h3,p{
    color: blue;
} */
/* .para1,.para3,.para5{
    color: blueviolet;
    background-color: black;
}
.para2{
    color: aqua;
    background-color: blue;
} */
/* #para1,#para3,#para4,#para5{
    color: blueviolet;
    background-color: black;
}
#para2{
    color: aqua;
    background-color: blue;
}
#h1{
    color: red;
    background-color: aqua;
}
#h2{
    color: brown;
    background-color: bisque;
}
#h4{
color: orange;
background-color: plum;
}
#h3{
    color: azure;
    background-color: chartreuse;
}
#pa4{
    color: pink;
    background-color: green;
} */
/* div > h1{
color: green;
} */
/* div h1{
color: green;
} */
/* h1+p{
    color: red;
    background-color: lightcoral;
} */
/* h1~p{
    color: red;
    background-color: lightcoral;
} */
/* h1 {
font-family: "Courier New", monospace;} 
i {
color: green;} 
i {
color: red;} 
b {
color: pink;} 
p b {
color: blue !important;} 
p b {
color: violet;}
p#intro {
font-size: 100%;}
p {
 font-size: 75%;} */
body {
font-family: Arial, Verdana, sans-serif;
color: #665544;
padding: 10px;} 
.page {
border: 1px solid #665544;
background-color: #efefef; 
padding: inherit;} 
